<h1> Result </h1>

#if($winner)
  <h3 class="winner">$winner</h3>
#end

<!-- <h1> Scrabble detector</h1>
#if($scrabbleScore > 18)
  <h3 class="well">$year is a leap year!</h3>
#else
  <h3 class="well">$year is not a leap year!</h3>
#end -->
